$primary: blue;
$section: gray;
$info: lightblue;
$danger: red;
$warning: orange;
$success: green;

$colors: ('primary': $primary, 'section': $section, 'info': $info, 'danger': $danger, 'warning': $warning, 'success': $success);

