
$sides: ('':'', 't':'-top', 'b':'-bottom', 's':'-left', 'e':'-right');
$sizes: ('':'0.5em', '1':'1em', '2':'2em');

$small: '600px';
$medium: '1024px';
$large: '1980px';
$breakpoints: ('l':$large, 'm':$medium, 's':$small);